// Variables

$Strong-cyan: #7d46c9;
$Hover-cyan: #5926c07d;
$Very-dark-cyan: #28004d;
$Dark-grayish-cyan: #6c5e7d;
$Grayish-cyan: #8f7f9f;
$Light-grayish-cyan: #d3c5e7;
$Very-light-grayish-cyan: #f7f4fa;
$White: #ffffff;
$Space-mono: 'Share Tech Mono', sans-serif;

