// Variables

$Strong-cyan: #26c0ab;
$Hover-cyan: #26c0ab7d;
$Very-dark-cyan: #00494d;
$Dark-grayish-cyan: #5e7a7d;
$Grayish-cyan: #7f9c9f;
$Light-grayish-cyan: #c5e4e7;
$Very-light-grayish-cyan: #f4fafa;
$White: #ffffff;
$Space-mono: 'Space Mono', sans-serif;